.index-coveralls-info-top-list {
    display: flex;
    justify-content: space-between;
}

.sd-tooltip-question {

}

.sd-tooltip-green {
    color: #28a745;
}

.sd-tooltip-dark-green {
    color: #6c757d;
}

.sd-tooltip-red {
    color: #dc3545;
}

.sd-tooltip-yellow {
    color: #ffc107;
}
